<div class="d-none d-lg-block d-md-none">
  <div class="contain d-flex justify-content-center">
    <div class="col-10 d-flex justify-content-center">
      <div
        id="carouselExampleRide"
        class="carousel slide col-12"
        data-bs-ride="true"
      >
        <diV class="d-flex justify-content-between">
          <div><h3>Expert Doctors</h3></div>
          <div class="mb-2 mb-lg-0 mb-md-0">
            <button
              class="btn btn-primary me-2"
              type="button"
              data-bs-target="#carouselExampleRide"
              data-bs-slide="prev"
            >
              <i class="bi bi-chevron-left"></i>
            </button>
            <button
              class="btn btn-primary"
              type="button"
              data-bs-target="#carouselExampleRide"
              data-bs-slide="next"
            >
              <i class="bi bi-chevron-right"></i>
            </button>
          </div>
        </diV>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-3 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/1_3.png"
                    class="img-fluid"
                    alt="Doctor 1"
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
              <div class="col-md-3 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/2_2.png"
                    class="img-fluid"
                    alt="Doctor 2"
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
              <div class="col-md-3 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/4_1.png"
                    class="img-fluid"
                    alt="Doctor 3"
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
              <div class="col-md-3 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/3_1.png"
                    class="img-fluid"
                    alt="Doctor 4"
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-3 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/1_3.png"
                    class="img-fluid"
                    alt="Doctor 5"
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
              <div class="col-md-3 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/2_2.png"
                    class="img-fluid"
                    alt="Doctor 6"
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
              <div class="col-md-3 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/4_1.png"
                    class="img-fluid"
                    alt="Doctor 7"
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
              <div class="col-md-3 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/3_1.png"
                    class="img-fluid"
                    alt="Doctor 8"
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-none d-lg-none d-md-block">
  <div class="contain d-flex justify-content-center">
    <div class="col-10 d-flex justify-content-center">
      <div
        id="carouselExampleRide1"
        class="carousel slide col-12"
        data-bs-ride="true"
      >
        <diV class="d-flex justify-content-between">
          <div><h3>Expert Doctors</h3></div>
          <div class="mb-2 mb-lg-0 mb-md-0">
            <button
              class="btn btn-primary me-2"
              type="button"
              data-bs-target="#carouselExampleRide1"
              data-bs-slide="prev"
            >
              <i class="bi bi-chevron-left"></i>
            </button>
            <button
              class="btn btn-primary"
              type="button"
              data-bs-target="#carouselExampleRide1"
              data-bs-slide="next"
            >
              <i class="bi bi-chevron-right"></i>
            </button>
          </div>
        </diV>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-6 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/1_3.png"
                    class="col-12"
                    alt="Doctor 1"
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
              <div class="col-md-6 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/2_2.png"
                    class="col-12"
                    alt="Doctor 2"
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-6 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/4_1.png"
                    class="col-12"
                    alt=""
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
              <div class="col-md-6 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/3_1.png"
                    class="col-12"
                    alt=""
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-lg-block d-lg-none d-md-none">
  <div class="contain d-flex justify-content-center">
    <div class="col-10 d-flex justify-content-center">
      <div
        id="carouselExampleRide2"
        class="carousel slide col-12"
        data-bs-ride="true"
      >
        <diV class="d-flex justify-content-between">
          <div><h3>Expert Doctors</h3></div>
          <div class="mb-2 mb-lg-0 mb-md-0">
            <button
              class="btn btn-primary me-2"
              type="button"
              data-bs-target="#carouselExampleRide2"
              data-bs-slide="prev"
            >
              <i class="bi bi-chevron-left"></i>
            </button>
            <button
              class="btn btn-primary"
              type="button"
              data-bs-target="#carouselExampleRide2"
              data-bs-slide="next"
            >
              <i class="bi bi-chevron-right"></i>
            </button>
          </div>
        </diV>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-12 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/1_3.png"
                    class="col-12"
                    alt="Doctor 1"
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-12 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/2_2.png"
                    class="col-12"
                    alt="Doctor 1"
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-12 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/3_1.png"
                    class="col-12"
                    alt="Doctor 1"
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-12 q">
                <div class="doctor-card">
                  <img
                    src="../../../assets/preview.colorlib.com-1740403278436/4_1.png"
                    class="col-12"
                    alt="Doctor 1"
                  />
                </div>
                <div class="txt">
                  <h4>Mirazul Alom</h4>
                  <span>Neurologist</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
